<script>
    $(document).ready(function () {
        $("#8Ball").click(function () {
            $("#8Ball").addClass("animated shake");
            setTimeout(function () {
                $("#8Ball").removeClass("animated shake");
            }, 1000);
        });
    });

</script>

<div class="text-center">
    <input class="" id="8Ball" type="image" onclick="GetFortune()" src="~/Content/Image/download.jpg" />
    <div style="width:10px;">
        <p id="fortune" style="width:47px; word-wrap: break-word;"></p>
    </div>
</div>
